# Dependencies
node_modules
**/node_modules

# Production Build Output
dist
**/dist

# Environment Variables
# .env
# **/.env

# Archive & Zip Files
*.zip
**/*.zip

# Local Databases & Logs
*.db
*.db-journal
*.log
npm-debug.log*

# Sub-repositories / Other folders
Doorloop-backend/
app/
whatslandlord-backend/

yarn-debug.log*
yarn-error.log*

# System & OS Files
.DS_Store
Thumbs.db
.agents
